#bber-talk {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    line-height: 35px;
    height: 45px;
    max-width: 960px;
    text-align: left;
    padding: 5px 15px;
    margin: 50px 0 20px;
    position: relative;
    background-color: var(--light-header);
    border-radius: 8px;
    font-size: 15px;
    overflow: hidden;
    border: 1px solid var(--light-background-secondary);
}

.dark #bber-talk {
    border: 1px solid var(--dark-background-secondary);
}

#bber-talk svg {
    fill: currentColor;
    vertical-align: middle;
    display: inline;
    margin-right: 5px;
    margin-top: -4px;
}

.talk-wrap {
    width: 96%;
}

.talk-list {
    margin: 0;
    height: 35px;
}

.talk-list li {
    list-style: none;
    margin-bottom: 10px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    zoom: 1;
}

.talk-list li .datetime {
    margin-right: 2px;
}

.talk-list li a {
    text-decoration: none;
}

.dark #bber-talk {
    background-color: var(--dark-header);
}

.dark .talk-list {
    color: var(--dark-color);
}

@media only screen and (max-width:683px) {
    #bber-talk {
        margin: 2em 1em 1em;
        width: 94%;
    }
}